.description {

	&__part {
		margin-top: 30px;
		font-family: var(--font-main);
		font-size: 18px;
		color: #2F2F2F;

		&:first-child {
			margin-top: 78px;
		}
	}
}

@media (max-width: 768px) {
	.description {

		&__part {
			margin-top: 20px;
			font-size: 16px;
			
			&:first-child {
				margin-top: 20px;
			}
		}
	}
}
